In [2]:
import json
import pandas as pd

In [2]:
def extract_text(text):
    if type(text) is list:
        i = 0
        result = ''
        for t in text:
            result += extract_text(t)
            i += 1
            if i > 10:
                print('DEPTH ERROR:', i)
                return text
        return result
    elif type(text) is dict:
        return extract_text(text['text'])
    else:
        return text

In [3]:
# telegram exported text data
# filename = 'InvestFuture_ChatExport_2022-07-24/result.json'
filename = 'Cryptocurrency_news_ChatExport_2022-07-24/result.json'

# read json file
with open(filename, 'r') as f:
    data = json.load(f)

In [4]:
# load data into pandas dataframe
df = pd.DataFrame(data)

In [5]:
# Now we have a dataframe with columns:
# name, type, id, messages
# Each value of messages column, contains a dictionary with keys:
# ['id', 'type', 'date', 'date_unixtime', 'actor', 'actor_id', 'action', 'title', 'text']
# Make a dataframe with these columns
# And fill with dictionary data

# add columns to dataframe
df['date_unixtime'] = df['messages'].apply(lambda x: x['date_unixtime'])
df['date'] = df['messages'].apply(lambda x: x['date'])
df['text'] = df['messages'].apply(lambda x: x['text'])
df['text'] = df.apply(lambda row: extract_text(row.text), axis=1)

DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11
DEPTH ERROR: 11

In [6]:
# drop all columns, except of ['date_unixtime', 'date', 'text']
df = df[['date_unixtime', 'date', 'text']]

In [7]:
# Drop records, where text is empty
df = df[df['text'].apply(lambda x: len(x) > 0)]

In [8]:
df.head(3)

,date_unixtime,date,text
5,1517911539,2018-02-06T13:05:39,Трафик растет и приносит плоды
7,1518163868,2018-02-09T11:11:08,"Попробуй хоть раз в жизни сделать то, что тебе..."
8,1518257085,2018-02-10T13:04:45,"Не стоит отступать назад, когда впереди вас ож..."

In [9]:
# drop old history

In [10]:
df = df[df.text.notnull()]

In [11]:
#df[df.text.contains('а')]
df['rus'] = df.text.str.contains('а')

In [12]:
df.head(3)

,date_unixtime,date,text,rus
5,1517911539,2018-02-06T13:05:39,Трафик растет и приносит плоды,True
7,1518163868,2018-02-09T11:11:08,"Попробуй хоть раз в жизни сделать то, что тебе...",True
8,1518257085,2018-02-10T13:04:45,"Не стоит отступать назад, когда впереди вас ож...",True

In [13]:
df = df[df.rus!=True]

In [15]:
df.head(3)

,date_unixtime,date,text,rus
15,1518856274,2018-02-17T11:31:14,Кто хочет — ищет способ. Кто не хочет — ищет п...,False
32,1532414826,2018-07-24T09:47:06,Nuls (NULS) Spikes as Binance Backs Mainnet To...,False
33,1533047738,2018-07-31T17:35:38,Cardano (ADA) Launches Virtual Machine on Test...,False

In [19]:
df = df[df.index>15]
df.head(3)

,date_unixtime,date,text,rus
32,1532414826,2018-07-24T09:47:06,Nuls (NULS) Spikes as Binance Backs Mainnet To...,False
33,1533047738,2018-07-31T17:35:38,Cardano (ADA) Launches Virtual Machine on Test...,False
34,1533369648,2018-08-04T11:00:48,​❗️ The Privacy Coin Matrix: A Comprehensive S...,False

In [5]:
df.to_csv('cc.csv')

In [3]:
df = pd.read_csv('cc.csv')

In [4]:
df = df[['date_unixtime','date','text']]

In [6]:
df.to_csv('cc.csv')